black==19.3b0
datatest==0.9.6
ipywidgets==7.5.0
jupyter==1.0.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.0.2
matplotlib==3.1.1
missingno==0.4.2
nb_black==1.0.5
openpyxl==2.6.2
pandas==0.25.0
pur==5.2.2
pytest-cov==2.7.1
pytest==5.0.1
rise==5.5.1
